
body {
  background-color: #393939;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form {
  display: flex;
  flex-direction: column;
}

#sbmt {
  background-color: #161616;
  color: #ffffff;
  padding: 10px;
  border-radius: 6px;
  font-size: 13px;
  border-style: none;
  margin-left: 4px;
}

.guessfield {
  padding: 6px;
  font-size: 13px;
  margin-left: 4px;
}